<h1>My Company's Database</h1>

<div class="row">

  <div class="col-12 pb-3">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
        </div>

        <!--        NAME & USERNAME -->
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Employee Information
          </mat-panel-title>
          <mat-panel-description>
            This should toggle the individual personal information
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>All of the employee's personal information here...</p>
      </mat-expansion-panel>


      <mat-card-content>

        <!--        company information -->


      </mat-card-content>
      <mat-card-actions>

        <!--        website-->

      </mat-card-actions>
    </mat-card>
  </div>

</div>

